<title>{{ seoTags.title }}</title>
<meta name="description" content="{{ seoTags.description }}">

<meta property="og:title" content="{{ seoTags.openGraph.title }}" />
<meta property="og:type" content="{{ seoTags.openGraph.type }}" />
<meta property="og:url" content="{{ seoTags.openGraph.url }}" />

{% if seoTags.openGraph.image is not empty %}
    <meta property="og:image" content="{{ seoTags.openGraph.image }}" />
{% endif %}

<meta property="og:description" content="{{ seoTags.openGraph.description }}" />

{# Add canonical url#}
<link rel="canonical" href="{{ seoTags.canonicalUrl }}" />